h1 {
    font-family: Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.transition {
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

/* LOGO SECTION */
.chapter-logo-row {
    background-color: #171A21;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.chapter-logo-row .logo {
    height: 8rem;
    min-height: 70px;
    min-width: 212px;
    /* TODO: make animation */
    background: url("./../img/schoollines.png") center;
    background-size: contain;
}

/* HEADER SECTION */
.chapter-header-row {
    background-color: #FFFFFF;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.chapter-header-row h1, .chapter-header-row h2 {
    color: #000000;
}

/* DESCRIPTION SECTION */
.chapter-description-row {
    margin-top: 5rem;
}

/* FEATURES LIST SECTION */
.chapter-features-row {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.chapter-features-row .icon-container:hover {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.chapter-features-row .feature-icon {
    color: #000000;
    font-size: 5rem;
}

/* JOIN SECTION */
.chapter-join-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #34435E;
}

.chapter-join-row h2, .chapter-join-row p {
    color: #FFFFFF;
}

.chapter-join-row a {
    background-color: #34435E;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: lighter;
}

.chapter-join-row a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* NEXT EVENT SECTION */
.chapter-next-event-row {
    background-color: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* ORGANIZERS SECTION */
.chapter-organizers-row {
    background-color: #34435E;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.chapter-organizers-row .photo-container {
    text-align: center;
}

.chapter-organizers-row .photo-container img {
    border-radius: 50%;
    max-width: 10rem;
}

.chapter-organizers-row .photo-container img:hover {
    border-radius: 0;
}

.chapter-organizers-row .icon-container:hover {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.chapter-organizers-row .organizer-icon {
    font-size: 10rem;
    color: #FFFFFF;
    line-height: 0;
}

.chapter-organizers-row h2, .chapter-organizers-row p {
    color: #FFFFFF;
}

/* FEEDBACK SECTION */
.chapter-feedback-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FFFFFF;
}
