.chapter-header-row {
    background-size: cover;
    background: url("./../img/header-background.jpg") center;
    color: #FFFFFF;
    min-height: 480px;
    margin-bottom: 5rem;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.features-column {
    text-align: center;
}

.feature-icon-container {
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.chapter-features-icon {
    font-size: 100px;
}

.feature-icon-container:hover {
    cursor: pointer;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.features-column {
    text-align: center;
}

.feature-icon-container {
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.chapter-features-icon {
    font-size: 100px;
}

.feature-icon-container:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.chapter-join-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #34435E;
}

.chapter-join-row h3 {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 2rem;
}

.chapter-join-row p {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1.3rem;
}

.chapter-join-row a {
    background-color: #34435E;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.3rem;
}

.chapter-join-row a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.chapter-footer-row {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #E7E247;
}

.chapter-footer-row h3 {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2rem;
}

.chapter-footer-row p {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.3rem;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
